{% extends "FoodieMe/padre.html" %}

{% load static %}

{% block titulo %}

<p>Sobre mi</p>
{% endblock %}

{% block contenido %}               

    <h5>Mi nombre es Nicolas Lopez, tengo 38 años, vivo en el barrio de Villa Urquiza en la Ciudad Autonoma de Buenos Aires. Estoy casado, tengo un hermoso hijo de 8 años y soy hincha del mejor equipo de futbol de Argentina, mi querido River Plate. <br>
        <br>
        Soy Técnico Electro-Mecanico, Mecanico Automotriz, varias carreras universitarias sin finalizar, me recibi en la Diplomatura de Lean Six Sigma Black Belt, estoy certificado como PM, Scrum Master y Agile Delivery Lead. <br>
        <br>
        Ya hace 12 años aproximadamente que trabajo en proyectos de implementación de sistemas de gran magnitud en diversas compañias y bajo distintos framework de trabajo. Lideré equipos hibridos tanto como PO, Scrum Master, PM o Lider tradicional para proyectos de tipo CRM, OM, ERP y otros. <br>
        <br>
        Hoy me encuentro trabajando como Lider de Global para la Gerencia de Retail en Tecnología de Mirgor y me responsabilizo de implementar Odoo ERP en las empresas del Grupo en el exterior de Argentina. <br>
        <br>
        Empece el curso de Python justamente motivado por mi contacto con Odoo. <br>
        <br>
        Este sitio y su orientación es 100% hobbista dado que una de mis pasiones es la comida pero también bucear, identificar y reconocer correctamente buenos lugares. <br>
        <br>
        Que lo disfruten!
    </h5>

{% endblock %}